<%- include('../partials/head.ejs') %>
<body>
    
    <div class="principal configD">
        <%- include('../partials/navbar.ejs') %>

      <br>
        
        <div class="container">
            <div class="categoria"><h1 align="center">Filmes</h1></div>

            <br>
            <div class="row row-cols-1 row-cols-md-6 g-3">
                <div class="col">
                <div class="card efeito efeitoCont">
                    <a href="https://embed.warezcdn.net/filme/tt14641788"><img src="img/Titulos/filmes/Enola homes 2.jpg" class="card-img-top" alt="..."></a>
                </div>
                </div>
                <div class="col">
                <div class="card efeito efeitoCont">
                    <a href="https://embed.warezcdn.net/filme/tt10648342"><img src="img/Titulos/filmes/Thor_Love_and_Thunder_poster.jpg" class="card-img-top" alt="..."></a>
                </div>
                </div>
                <div class="col">
                <div class="card efeito efeitoCont">
                    <a href="https://embed.warezcdn.net/filme/tt0067992"><img src="img/Titulos/filmes/Fantatica fabica de chocolate.png" class="card-img-top" alt="..."></a>
                </div>
                </div>
                <div class="col">
                <div class="card efeito efeitoCont">
                    <a href="https://embed.warezcdn.net/filme/tt0120696"><img src="img/Titulos/filmes/tempestade.png" class="card-img-top" alt="..." ></a>
                </div>
                </div>
                <div class="col">
                    <div class="card efeito efeitoCont">
                    <a href="https://embed.warezcdn.net/filme/tt5433140"><img src="img/Titulos/filmes/velozes-e-furiosos-10.png" class="card-img-top" alt="..."></a>
                    </div>
                </div>
                <div class="col">
                    <div class="card efeito efeitoCont">
                    <a href="https://embed.warezcdn.net/filme/tt5259822"><img src="img/Titulos/filmes/tesla-o-homem-eletrico.png" class="card-img-top" alt="..."></a>
                    </div>
                </div>

                <div class="col">
                    <div class="card efeito efeitoCont">
                        <a href="https://embed.warezcdn.net/filme/tt6189022"><img src="img/Titulos/filmes/invasao ao serviço secreto.jpeg" class="card-img-top" alt="..."></a>
                    </div>
                    </div>
                    <div class="col">
                    <div class="card efeito efeitoCont">
                        <a href="https://embed.warezcdn.net/filme/tt2316548"><img src="img/Titulos/filmes/belo-desastre.png" class="card-img-top" alt="..."></a>
                    </div>
                    </div>
                    <div class="col">
                    <div class="card efeito efeitoCont">
                        <a href="https://embed.warezcdn.net/filme/tt8000718"><img src="img/Titulos/filmes/agente infiltrada.jpeg" class="card-img-top" alt="..."></a>
                    </div>
                    </div>
                    <div class="col">
                    <div class="card efeito efeitoCont">
                        <a href="https://embed.warezcdn.net/filme/tt12262116"><img src="img/Titulos/filmes/treze-vidas-o-resgate_k1AAqOw.png" class="card-img-top" alt="..." ></a>
                    </div>
                    </div>
                    <div class="col">
                        <div class="card efeito efeitoCont">
                        <a href="https://embed.warezcdn.net/filme/tt1630029"><img src="img/Titulos/filmes/avatar-o-caminho-da-agua_9nRCo90.jpeg" class="card-img-top" alt="..."></a>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card efeito efeitoCont">
                        <a href="https://embed.warezcdn.net/filme/tt3915174"><img src="img/Titulos/filmes/gato-de-botas-2-o-ultimo-pedido_gsX7XNs.png" class="card-img-top" alt="..."></a>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card efeito efeitoCont">
                            <a href="https://embed.warezcdn.net/filme/tt17663992"><img src="img/Titulos/filmes/panico-vi_QSJQBYE.png" class="card-img-top" alt="..."></a>
                        </div>
                        </div>
                        <div class="col">
                        <div class="card efeito efeitoCont">
                            <a href="https://embed.warezcdn.net/filme/tt3420504"><img src="img/Titulos/filmes/finch_fSjDnVs.png" class="card-img-top" alt="..."></a>
                        </div>
                        </div>
                        <div class="col">
                        <div class="card efeito efeitoCont">
                            <a href="https://embed.warezcdn.net/filme/tt13207508"><img src="img/Titulos/filmes/o-canto-do-cisne_7EFiHkE.png" class="card-img-top" alt="..."></a>
                        </div>
                        </div>
                        <div class="col">
                        <div class="card efeito efeitoCont">
                            <a href="https://embed.warezcdn.net/filme/tt0017128"><img src="img/Titulos/filmes/a-mae_AB2GTgo.png" class="card-img-top" alt="..." ></a>
                        </div>
                        </div>
                        <div class="col">
                            <div class="card efeito efeitoCont">
                            <a href="https://embed.warezcdn.net/filme/tt0032910"><img src="img/Titulos/filmes/pinoquio_e3rCckQ.png" class="card-img-top" alt="Pinoquio"></a>
                            </div>
                        </div>
                        <div class="col">
                            <div class="card efeito efeitoCont">
                            <a href="https://embed.warezcdn.net/filme/tt1016150"><img src="img/Titulos/filmes/nada-de-novo-no-front_e3AKcB8.png" class="card-img-top" alt="..."></a>
                            </div>
                        </div>

                        <div class="col">
                            <div class="card efeito efeitoCont">
                                <a href="https://embed.warezcdn.net/filme/tt0463985"><img src="img/Titulos/filmes/the-fast-and-the-furious-tokyo-drift3577.jpeg" class="card-img-top" alt="..."></a>
                            </div>
                            </div>
                            <div class="col">
                            <div class="card efeito efeitoCont">
                                <a href="https://embed.warezcdn.net/filme/tt1905041"><img src="img/Titulos/filmes/fast-furious-6.jpeg" class="card-img-top" alt="..."></a>
                            </div>
                            </div>
                            <div class="col">
                            <div class="card efeito efeitoCont">
                                <a href="https://embed.warezcdn.net/filme/tt1013752"><img src="img/Titulos/filmes/fast-furiou4.jpeg" class="card-img-top" alt="..."></a>
                            </div>
                            </div>
                            <div class="col">
                            <div class="card efeito efeitoCont">
                                <a href="https://embed.warezcdn.net/filme/tt0322259"><img src="img/Titulos/filmes/2-fast-2-furious38743.jpeg" class="card-img-top" alt="..." ></a>
                            </div>
                            </div>
                            <div class="col">
                                <div class="card efeito efeitoCont">
                                <a href="https://embed.warezcdn.net/filme/tt4630562"><img src="img/Titulos/filmes/the-fate-of-the-furious8.jpeg" class="card-img-top" alt="..."></a>
                                </div>
                            </div>
                            <div class="col">
                                <div class="card efeito efeitoCont">
                                <a href="https://embed.warezcdn.net/filme/tt5433138"><img src="img/Titulos/filmes/velozes-furiosos-9.jpeg" class="card-img-top" alt="..."></a>
                                </div>
                            </div>

                            <div class="col">
                                <div class="card efeito efeitoCont">
                                    <a href="https://embed.warezcdn.net/filme/tt10633456"><img src="img/Titulos/filmes/minari.jpeg" class="card-img-top" alt="..."></a>
                                </div>
                                </div>
                                <div class="col">
                                <div class="card efeito efeitoCont">
                                    <a href="https://embed.warezcdn.net/filme/tt0076786"><img src="img/Titulos/filmes/suspiria.jpeg" class="card-img-top" alt="..."></a>
                                </div>
                                </div>
                                <div class="col">
                                <div class="card efeito efeitoCont">
                                    <a href="https://embed.warezcdn.net/filme/tt10366460"><img src="img/Titulos/filmes/no-ritmo-do-coracao.png" class="card-img-top" alt="..."></a>
                                </div>
                                </div>
                                <div class="col">
                                <div class="card efeito efeitoCont">
                                    <a href="https://embed.warezcdn.net/filme/tt10640346"><img src="img/Titulos/filmes/babilonia_8eYB9kU.png" class="card-img-top" alt="..." ></a>
                                </div>
                                </div>
                                <div class="col">
                                    <div class="card efeito efeitoCont">
                                    <a href="https://embed.warezcdn.net/filme/tt11145118"><img src="img/Titulos/filmes/creed-iii_YycOoYQ.png" class="card-img-top" alt="..."></a>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card efeito efeitoCont">
                                    <a href="https://embed.warezcdn.net/filme/tt14208870"><img src="img/Titulos/filmes/os-fabelmans_NrdLR9M.jpeg" class="card-img-top" alt="..."></a>
                                    </div>
                                </div>
            </div>


        </div>
</div>

    <br>
    <br>
    <br>
    <br>
    <br>

    <%- include('../partials/footer-1.ejs') %>
</body>
<%- include('../partials/footer.ejs') %>
