<%- include('../partials/head.ejs') %>
<body>
    
    <div class="principal configD">
        <%- include('../partials/navbar.ejs') %>

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
            <div class="carousel-item active" data-bs-interval="1000">
                <img src="img/banner3.jpg" class="d-block w-100" alt="..." height="300vh">
            </div>
            <div class="carousel-item" data-bs-interval="1000">
                <img src="img/Pixar-Films-Banner-1.jpg" class="d-block w-100" alt="..." height="300vh">
            </div>
            <div class="carousel-item"  data-bs-interval="1000">
                <img src="img/hunger_games_catchingfire_banner_ful.jpg" class="d-block w-100" alt="..." height="300vh">
            </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
            </button>
        </div>
        <br>
        
        <div class="container">
            <div class="categoria"><h1 align="center">Filmes</h1></div>

            <br>
            <div class="row row-cols-1 row-cols-md-6 g-3">
                <div class="col">
                <div class="card efeito efeitoCont">
                    <img src="img/Titulos/filmes/Enola homes 2.jpg" class="card-img-top" alt="...">
                </div>
                </div>
                <div class="col">
                <div class="card efeito efeitoCont">
                    <img src="img/Titulos/filmes/avatar-o-caminho-da-agua_9nRCo90.jpeg" class="card-img-top" alt="...">
                </div>
                </div>
                <div class="col">
                <div class="card efeito efeitoCont">
                    <img src="img/Titulos/filmes/Fantatica fabica de chocolate.png" class="card-img-top" alt="...">
                </div>
                </div>
                <div class="col">
                <div class="card efeito efeitoCont">
                    <img src="img/Titulos/filmes/velozes-e-furiosos-10.png" class="card-img-top" alt="...">
                </div>
                </div>
                <div class="col">
                    <div class="card efeito efeitoCont">
                    <img src="img/Titulos/filmes/a-mae_AB2GTgo.png" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="col">
                    <div class="card efeito efeitoCont">
                    <img src="img/Titulos/filmes/gato-de-botas-2-o-ultimo-pedido_gsX7XNs.png" class="card-img-top" alt="...">
                    </div>
                </div>
                <div class="categoria"><a href="filmes">Veja Mais</a></div>
            </div>

            <br>
            <br>

            <div class="container">
                <div class="categoria"><h1 align="center">Séries</h1></div>
                
                <br>
                <div class="row row-cols-1 row-cols-md-6 g-3">
                    <div class="col">
                    <div class="card efeito efeitoCont">
                        <img src="img/Titulos/Series/fate-a-saga.jpg" class="card-img-top" alt="...">
                    </div>
                    </div>
                    <div class="col">
                    <div class="card efeito efeitoCont">
                        <img src="img/Titulos/Series/la-casa-de-papel.jpg" class="card-img-top" alt="...">
                    </div>
                    </div>
                    <div class="col">
                    <div class="card efeito efeitoCont">
                        <img src="img/Titulos/Series/cobrakai.jpg" class="card-img-top" alt="...">
                    </div>
                    </div>
                    <div class="col">
                    <div class="card efeito efeitoCont">
                        <img src="img/Titulos/Series/santo.jpg" class="card-img-top" alt="...">
                    </div>
                    </div>
                    <div class="col">
                        <div class="card efeito efeitoCont">
                        <img src="img/Titulos/Series/anne.jpg" class="card-img-top" alt="...">
                        </div>
                    </div>
                    <div class="col">
                        <div class="card efeito efeitoCont">
                        <img src="img/Titulos/Series/supernatural.jpg" class="card-img-top" alt="...">
                        </div>
                    </div>
                    <div class="categoria"><a href="series">Veja Mais</a></div>
                </div>

                <br>
                <br>

        </div>
</div>

    <br>
    <br>
    <br>
    <br>
    <br>

    <%- include('../partials/footer-1.ejs') %>
</body>
<%- include('../partials/footer.ejs') %>
