<%- include('../partials/head.ejs') %>
<body>
    
    <div class="principal configD">
        <%- include('../partials/navbar.ejs') %>

      <br>
        
        <div class="container">
            <div class="categoria"><h1 align="center">Séries</h1></div>

            <br>
            <div class="row row-cols-1 row-cols-md-6 g-3">
                <div class="col">
                <div class="card efeito efeitoCont">
                    <a href="https://embed.warezcdn.net/serie/tt8179402"><img src="img/Titulos/Series/fate-a-saga.jpg" class="card-img-top" alt="..."></a>
                </div>
                </div>
                <div class="col">
                <div class="card efeito efeitoCont">
                    <a href="https://embed.warezcdn.net/serie/tt7221388"><img src="img/Titulos/Series/cobrakai.jpg" class="card-img-top" alt="..."></a>
                </div>
                </div>
                <div class="col">
                <div class="card efeito efeitoCont">
                    <a href="https://embed.warezcdn.net/serie/tt6468322"><img src="img/Titulos/Series/la-casa-de-papel.jpg" class="card-img-top" alt="..."></a>
                </div>
                </div>
                <div class="col">
                <div class="card efeito efeitoCont">
                    <a href="https://embed.warezcdn.net/serie/tt0460681"><img src="img/Titulos/Series/supernatural.jpg" class="card-img-top" alt="..." ></a>
                </div>
                </div>
                <div class="col">
                    <div class="card efeito efeitoCont">
                    <a href="https://embed.warezcdn.net/serie/tt0246430"><img src="img/Titulos/Series/anne.jpg" class="card-img-top" alt="..."></a>
                    </div>
                </div>
                <div class="col">
                    <div class="card efeito efeitoCont">
                    <a href="https://embed.warezcdn.net/serie/tt0246430"><img src="img/Titulos/Series/santo.jpg" class="card-img-top" alt="..."></a>
                    </div>
                </div>
            </div>


        </div>
</div>

    <br>
    <br>
    <br>
    <br>
    <br>

    <%- include('../partials/footer-1.ejs') %>
</body>
<%- include('../partials/footer.ejs') %>
